@mixin position ($position, $top, $left, $width, $height) {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    position: $position;
}

#banner {
  overflow: hidden;
  border-radius: 25px;
  margin-top: -25px;
  box-shadow: -2px 12px 9px -10px #000000;
  @include position (relative, 0, 0, 100%, 300px);

  @media screen and (max-width: 1024px) {
    height: 200px;
    margin-top: -40px;
    margin-bottom: -10px;
  }

  @media screen and (max-width: 425px) {
    height: 180px;
    margin-top: -30px;
    border-radius: 15px;
  }

  .banner-img {
    z-index: 1;
    object-fit: cover;
    @include position (absolute, 0, 0, 100%, 100%);
  }

  .banner-overlay {
    z-index: 2;
    background-color: rgba(0,0,0);
    @include position (absolute, 0, 0, 100%, 100%);
  }

  p {
    margin: 0;
    z-index: 3;
    display: flex;
    color: white;
    font-size: 4.6em;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    @include position (relative, 0, 0, 100%, 100%);

    @media screen and (max-width: 1024px) {
      font-size: 3.0em;
    }

    @media screen and (max-width: 425px) {
      padding: 10px;
      font-size: 1.8em;
      text-align: left;
    }

    @media screen and (max-width: 320px) {
      font-size: 1.5em;
    }
  }
}
